body {
  font-family: 'Open Sans', sans-serif;
}
/* Header Styles */
.workGrid {
	display: grid;
	flex-direction: row
}

div * {
	width: 33% auto;
}

.item! {
	grid-area: myArea;
}
.grid-container {
	disply: grid;
	grid-template-areas: 'myArea myArea myArea myArea';
}
<!--My UX Skills section coded using CSS flex-->


@media only screen and (max-width: 600){
	/* your CSS styles for your grid template area here */
	.flexContainer {
	flex-direction: column;
	width: 100vh;
	}
}

#categoryGrid {
	margin: 0px 5%;
	display: grid;
	grid-template-rows: 300px 300px 300px;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-areas:
			"Project 1"
			"Project 2"
			"Project 3"]
		;
}

#categoryGrid {
	grid-template-rows: 300px 300px 300px 300px 300px;
	grid-template-columns: 1 fr;
	grid-template-areas:
		"Project 1"
		"Project 2"
		"Project 3"
	;
}